.container {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 100px 80% 250px 100px; 
    gap: 10px 10px; 
    grid-template-areas: 
        "."
        "."
        "."
        "."; 
    width: 100%; 
    height: 100%; 
}

.Header {
    background-color: cornflowerblue;
}

.Main {
    background-color: crimson;
    
}
.Area {
    background-color: darkgreen;
}
.Footer {
    background-color: gold;
}

@media (min-width: 600px) {

.container {
    display: grid; 
    grid-template-columns: 300px 1fr; 
    grid-template-rows: 2fr 250px 100px; 
    gap: 10px 10px; 
    grid-template-areas: 
        "Header Main"
        "Header Area"
        "Header Footer"; 
    width: 100%; 
    height: 100%; 
}

.Header {
    grid-area: Header;
    height: 875px;
}

.Main {
    grid-area: Main;
}

.Area {
    grid-area: Area;
}

.Footer {
    grid-area: Footer;
}

}

@media (min-width: 1800px) {

.container {
    justify-items: stretch; 
    align-items: stretch; 
    display: grid; 
    grid-template-columns: 300px 1fr 300px; 
    grid-template-rows: 1fr 100px; 
    gap: 10px 10px; 
    grid-template-areas: 
        "Header Main Area"
        "Header Footer Area"; 
}

.Header {
    grid-area: Header;
    height: 875px;
}

.Main {
    grid-area: Main;
}

.Area {
    grid-area: Area;
}

.Footer {
    grid-area: Footer
}

}
